<%= form_for @user do |u| %>
  <div class='form-group'>
    <%= u.label :name %>
    <%= u.text_field :name, placeholder: 'First Last', class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= u.label :email %>
    <%= u.email_field :email, placeholder: 'firstlast@email.com', class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= u.label :phone_number %>
    <%= u.number_field :phone_number, placeholder: '0717000121', value:'0717000121', class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= u.label :password %>
    <%= u.password_field :password, placeholder: 'Enter password', class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= u.submit save_prompt, class: 'btn btn-primary' %>
  </div>
<% end %>
